body {
  margin: 0;
  
}
header {
  background-image: url(../../backgrounds/background_1.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.menu li {
  margin: 20px;
}
.menu a {
  color: cyan;
  text-decoration: none;
  font-size: 24px;
}
h1 {
  color: #456766;
  text-align: center;
}